.row {
    margin-left: 20px;
    color: white;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
    /* keeps spacing natural */
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    width: 150px;
    /* Netflix size */
    max-height: 225px;
    /* 2:3 aspect ratio */
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 4px;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    width: 200px;
    /* For “Netflix Originals” row */
    max-height: 300px;
}