.row {
    margin-left: 20px;
    color: white;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
    /* keeps spacing natural */
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    width: 150px;
    /* Netflix size */
    max-height: 250px;
    /* 2:3 aspect ratio */
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 4px;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posterLarge {
    width: 100px;
    /* For “Netflix Originals” row */
    max-height: 300px;
}