

/* HEADER CONTAINER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: #000;
    color: white;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    background: #000;
        color: white;
   
}

/* LEFT SIDE */
.header-left {
    display: flex;
    align-items: center;
    gap: 35px;
}

/* LOGO */
.logo {
    width: 110px;
    cursor: pointer;
}
/* NAVIGATION LINKS */
.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a,
.nav-links a:visited {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s, text-decoration 0.2s;
}

.nav-links a:hover {
    color: #e50914;
    text-decoration: underline;
}


/* RIGHT SIDE */

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* SIMPLE SEARCH */
.search {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}

/* AVATAR IMAGE */
.user-avatar {
    width: 35px;
    border-radius: 4px;
    cursor: pointer;
}

/* =========================================
    SEARCH BAR SECTION
   ========================================= */
.header-search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-searchSelect {
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid gray;
    background: #141414;
    color: white;
}

.header-searchInput {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid gray;
    background: #141414;
    color: white;
    outline: none;
}
/* Search icon */
.header-searchIcon {
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: color 0.2s;
}


.header-searchIcon:hover {
    color: #e50914;
}