.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    background: #000;
        color: white;
   
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #b6d01f;
    font-size: 16px;
    
    
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;

}

.user-avatar {
    width: 35px;
    border-radius: 4px;
}

/* =========================================
    SEARCH BAR SECTION
   ========================================= */
.header-search {
    display: flex;
    /* Align select, input, icon */
    flex: 0.5;
    /* Take full available width */
    min-width: 50px;
    max-width: 200px;
    /* Limit width on large screens */
    align-items: center;
    background-color: rgb(200, 16, 44);
    /* White search bar */
    border-radius: 5px;
    /* Slightly rounded edges */
    overflow: hidden;
    /* Prevent children from overflowing */
    height: 40px;
    /* Standard Amazon height */
}

/* Dropdown (All) */
.header-searchSelect {
    border: none;
    /* Remove browser border */
    outline: none;
    /* Remove focus outline */
    padding: 10px;
    background-color: #e6e6e6;
    /* Gray select background */
    cursor: pointer;
}

/* Input box */
.header-searchInput {
    flex: 1;
    /* Input expands to fill space */
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
    border-radius: 7px;
}

/* Search icon */
.header-searchIcon {
    background-color: white;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}