.banner {
    height: 75vh;
    object-fit: contain;
    color: white;
    position: relative;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    width: 50%;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    width: 70%;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 400px;
    height: 80px;
}

.banner_buttons {
    margin-top: 20px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 10px;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: 0.3s;
}

.banner_fadeBottom {
    position: absolute;
    top: 60vh;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.6),
            #111);
}