
*{
  margin: 0;;
  padding: 0;
  
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}


.App {
  background-color: #000
  
  

}

 .App-logo {
  animation: App-logo-spin infinite 20s linear;
} 
