.row {
    margin-left: 20px;
    color: #fff;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-poster {
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.row-poster:hover {
    transform: scale(1.08);
}